
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@Html.ActionLink("Se brukere", "../Users");
<br />
@Html.ActionLink("Se typer utstyr", "../Equipments");
<br />
@Html.ActionLink("Se lageret", "../DepotRecords");

