@{
    ViewBag.Title = "Hjem";
}

<div class="jumbotron">
    <h1>Røde Kors avd Trondheim</h1>
    <p class="lead">Dette er en side som lar brukerne registrere forbruk av Røde Kors sitt utstyr på lageret</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Røde Kors Trondheim</h2>
        <p>
            Klikk på knappen
        </p>
        <p><a class="btn btn-default" href="https://www.rodekors.no/lokalforeninger/sor-trondelag/trondheim/" target="_blank">Lær mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Røde Kors Norge</h2>
        <p>Klikk på knappen</p>
        <p><a class="btn btn-default" href="https://www.rodekors.no/" target="_blank">Lær mer &raquo;</a></p>
    </div>
</div>