@{
    ViewBag.Title = "Arbeider";
}
    <br />
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="jumbotron">
                        <h1>@Html.ActionLink("Forbruk", "ReduceQuantity", "DepotRecords")</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="jumbotron">
                        <h1>@Html.ActionLink("Se logg", "IndexByUserId", "LogRecords")</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


