@{
    ViewBag.Title = "Home Page";
}


<div id="form">   </div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: "../DepotRecords/ReduceQuantity",
            success: function (data) {
                $('#form').html(data);
            }
        });
    });
</script>

