@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Feil";
}

<h1 class="text-danger">Feil</h1>
<h2 class="text-danger">En feil oppstod under behandling av forespørselen. Vennligst gå tilbake og prøvd igjen.</h2>

