@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Låst";
}

<hgroup>
    <h1 class="text-danger">Låst</h1>
    <h2 class="text-danger">Denne kontoen har blitt låst. Prøv igjen senere eller kontakt administrator.</h2>
</hgroup>
