@model BachelorProject.Models.Equipment

@{
    ViewBag.Title = "Detaljer";
}

<div class="container" style="word-break: break-word">
    <form>
        <h2>Informasjon om utstyret</h2>
        <hr />

        <dl class="dl-horizontal form-horizontal">
            <div class="form-group">
                <dt>
                    <span>ID</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    <span>Navn og type</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NameAndType)
                </dd>
            </div>

            <div class="form-group">
                <dd><button type="button" class="btn btn-success m-0" onclick="location.href='@Url.Action("Edit","Equipments",new { id = Model.Id })'">Rediger</button></dd>
            </div>
        </dl>
    </form>

</div>

<div>
    <button type="button" class="btn btn-primary m-0" onclick="location.href='@Url.Action("Index","Equipments")'">Tilbake til oversikten</button>
</div>


