@{
    ViewBag.Title = "Glemt passord - bekreftelse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vennligst sjekk din e-postadresse for å nullstille passordet.
    </p>
</div>
	
